*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
}

.header .header-menu{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1%;
}

.header .header-menu ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-top: 3%;
}

.header .header-menu ul li a{
    color: white;
    text-decoration: none;
    transition: .5s ease;
}

.header .header-menu ul li:hover{
    transition: .5s ease;
    transform: scale(1.1);
}

.header .header-body{
    display: flex;
    justify-content: center;
    gap: 20%;
    color: white;
    margin-top: 5%;
    padding-bottom: 50px;
}

.header .header-body .about-section .heading{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    line-height: 80%;
    margin-bottom: 5%;
}

.header .header-body .about-section .description{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 4%;
}

.header .header-body .about-section button{
    color: white;
    background-color: #3882F6;
    border-radius: 15px;
    padding: 2% 5%;
    border: 1px solid #3882F6;
    font-size: 25px;
    margin-top: 4%;
    margin-bottom: 10px;
    transition: .2s ease;
}

.header .header-body .about-section button:hover{
    color: #3882F6;
    border: #3882F6 1px solid;
    background-color: white;
    transition: .2s ease;
    transform: scale(1.1);
    cursor: pointer;
}

.rnd-info{
    margin-top: 4%;
}

.rnd-info h1{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-bottom: 3%;
}

.rnd-info .flex{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.rnd-info .flex .informations p {
    text-align: center;
}

.rnd-info .informations .image{
    border: 3px solid #3882F6;
    height: 120px;
    width: 100%;
    border-radius: 20px;
    transition: .5s ease;
}

.rnd-info .informations .image:hover{
    transform: scale(1.1);
    transition: .5s ease;
}

.quote-section{
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
}
.quote-section .quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    text-align: left;
}

.quote-section .writer{
    color: #1F2937;
    font-weight: 900;
    text-align: right;
    font-size: 26px;
}

.contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.contact-section .container{
    background-color: #3882F6;
    display: flex;
    gap: 10%;
    padding: 3%;
    border-radius: 25px;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.contact-section .container .help{
    flex: 3;
}

.contact-section .container .help .first{
    font-size: 20px;
    font-weight: 900;
    color: #F9FAF8;
}

.contact-section .container .help .second{
    color: #F9FAF8;
}

.contact-section .container .btn{
    flex: 1;
}

.contact-section .container .btn button{
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 15px;
    padding: 7% 20%;
    border: 1px solid #F9FAF8;
    font-size: 25px;
    margin-top: 4%;
    margin-bottom: 10px;
    transition: .5s ease;
}

.contact-section .container .btn button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .5s ease;
}

.footer{
    text-align: center;
    background-color: #1F2937;
    color:#F9FAF8;
    padding-top: 2%;
    padding-bottom: 2%;
}